<!DOCTYPE html>
<html>
    <head>
        <title>Wahlkreis-Parser</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
		<style type="text/css">
			.offset {
				margin-top: 25px;
			}
		</style>
    </head>
    <body ng-app="WBParser">
		<div class="col-lg-12">
        <h1>Wahlkreis-Parser</h1>   <h4>http://www.bundeswahlleiter.de/de/bundestagswahlen/BTW_BUND_13/ergebnisse/wahlkreisergebnisse/</h4>
		</div>
        <div ng-controller="ParseCtrl" class="col-lg-12 offset">
            <form ng-submit="parse()">
				<label for="stateOptions">Bundesland:</label>
                <select size="1" ng-model="stateInput" id="stateOptions">
                    <option>bw</option>
                    <option>by</option>
                    <option>be</option>
                    <option>bb</option>
                    <option>hb</option>
                    <option>hh</option>
                    <option>he</option>
                    <option>mv</option>
                    <option>ni</option>
                    <option>nw</option>
                    <option>rp</option>
                    <option>sl</option>
                    <option>sn</option>
                    <option>st</option>
                    <option>sh</option>
                    <option>th</option>
                </select><br>
                <textarea rows="20" cols="100" ng-model="inputText"></textarea><br>
                <input type="submit" value="Parsen!" class="btn btn-primary">
            </form>
            <div class="offset">
                <p ng-repeat="district in districts | orderBy:'number'">
                    // {{district.name}}, Wahlkreisnummer: {{district.number}}<br>
                    new District({<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;number: {{district.number}},<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;name: "{{district.name}}",<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;state: {{district.state}}<br>
                    }).save();
                </p>
            </div>
        </div>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/parse.js"></script>
		<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>

